/* PC */
@media (min-width: 1024px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Tablet & Mobile */
@media (max-width: 1023px) {
  #nav .subnav a {
    padding: 5px 12px;
  }
  .btn {
    padding: 15px 16px;
  }

  .contact-form .form-control {
    padding: 15px;
    font-size: 16px;
  }

  .contact-info {
    line-height: 2;
  }

  .contact-submit-btn {
    font-size: 17px;
  }

  #footer .social-list {
    font-size: 36px;
  }

  #footer .social-list a {
    margin: 0 8px;
  }

  #footer .copyright a {
    padding: 14px 0;
    display: inline-block;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .s-col-full {
    width: 100% !important;
  }

  .s-mt-8 {
    margin-top: 8px !important;
  }

  .s-full-width {
    width: 100%;
  }

  #header {
    overflow: hidden;
  }

  #header .search-button {
    display: none;
  }

  #header .menu-mobile-btn {
    display: block;
  }

  #nav {
    display: block;
  }

  #nav li a {
    padding: 1px 24px;
  }

  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }

  #slider .text-content {
    display: none;
  }

  #content .member-item {
    margin-top: 30px;
    width: 100%;
  }
  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  }
}
